<!-- <a [routerLink]="['/booking']" class="btn btn-danger">Back</a>
<router-outlet>

    
</router-outlet> -->


 <div class="container mt-4">
    <div class="row">
      <div class="col-12">
        <h1 class="h4">
          Update Booking
        </h1>
        <hr>
      </div>
    </div>
    <div class="row" >
      <div class="col-5">
        
        <form>
          <div class="from-group"> 
        <label for="name">Booking Id</label>
        <input type="text" name="id" id="" class="form-control" placeholder="Enter Booking Id" required [(ngModel)] = "id">&nbsp;
        
    </div>
    <br>
    <div class="from-group">
    <button (click)="viewBookingById()" class="btn btn-primary btn-md">Get Booking</button>
    </div>
    <br>
    </form>
    </div>
    <div *ngIf="flag">
        <div class="from-group">
        
                <label for="name">Booking Mode</label>
                <input type="text"   name="booking.transactionMode" id="" class="form-control" placeholder="Enter Booking Mode"  required  [(ngModel)] = "booking.transactionMode">&nbsp;
                
  
            </div>
            <br>
            <div class="form-group">
                <label for="name">Booking Cost</label>
                <input type="text"   name="booking.totalCost" id="" class="form-control" placeholder="Enter Booking Cost" required  [(ngModel)] = "booking.totalCost">&nbsp;
  
            </div>
            <br>
            <div class="form-group">
                <label for="name">Booking Status</label>
                <input type="text"   name="booking.transactionStatus" id="" class="form-control" placeholder="Enter Booking Status" required  [(ngModel)] = "booking.transactionStatus">&nbsp;
            </div>
            
            <br>
            <div class="form-group">
                <label for="name">Booking Date</label>
                <input type="text"   name="booking.bookingDate" id="" class="form-control" placeholder="Enter Booking Date" required  [(ngModel)] = "booking.bookingDate">&nbsp;
            </div> 
            
            <br>
            <div class="form-group">
                <label for="name">Customer Id</label>
                <input type="text" name="booking.customer.customerId" id="" class="form-control" placeholder="Enter Customer Id" required  [(ngModel)] = "booking.customer.customerId">&nbsp;
            </div> 
            
            <div class="from-group">
                 <button (click)="updateBooking()" class="btn btn-primary btn-md"><i class="fa fa-edit">&nbsp;</i>Update Booking</button>
            </div>
            
        <!-- </form> -->
      </div>
    </div>
  </div>