


<!-- <a [routerLink]="['/user']" class ="btn btn-danger">Back</a> -->

<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <h1 class="h4">
        User List
      </h1>
     
      
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <table class="table table-sm table-primary">
          <thead class="table-success" style="border:5px double">
            <tr>
                <th>User ID</th>
                <th>Password</th>
                <th>Role</th>
        
        
    
        
              
            </tr>
        </thead>
        <tbody style="border:5px double">
          <tr *ngFor = "let u of users" style="border:5px double">
            
        
            <td>{{u.userId}}</td>
            <td>{{u.password}}</td>
            <td>{{u.role}}</td>
    

          

             
          </tr>
        </tbody>
        </table>
    </div>
  </div>
</div>