<!-- <a [routerLink]="['/dashboard']" class="btn btn-danger">Back</a>
<router-outlet>

    
</router-outlet> -->
<div class="background">
    
    <div class="button">

<a [routerLink]="['/viewshows']" class="btn btn-primary">Views Shows</a>&nbsp;
<a [routerLink]="['/addshow']" class="btn btn-primary">Add Shows</a>&nbsp;
<a [routerLink]="['/viewshowbytheid']" class="btn btn-primary">View Shows By Theatre ID</a>&nbsp;
<a [routerLink]="['/viewshowbydate']" class="btn btn-primary">View Shows By Date</a>&nbsp;
<a [routerLink]="['/updateshow']" class="btn btn-primary">Update Show</a>&nbsp;
<a [routerLink]="['/deleteshow']" class="btn btn-primary">Delete Show</a>

</div>
</div>

<router-outlet>

    
</router-outlet>
