



<!-- <a [routerLink]="['/booking']" class ="btn btn-danger">Back</a> -->

<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <h1 class="h4">
        Bookings List
      </h1>
     
      
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <table class="table table-sm table-primary">
          <thead class="table-success" style="border:5px double">
            <tr>
                <th>Booking ID</th>
                <th>Booking Mode</th>
                <th>Booking Status</th>
                <th>Booking Cost</th>
                <th>Date</th>
                <th>Customer Name</th>
                <th>Movie ID</th>
                <th>Movie Name</th>
                <th>Show ID</th>
                <th>Show Time</th>
                <th>Screen ID</th>
                <th>Screen Name</th>
    
        
              
            </tr>
        </thead>
        <tbody style="border:5px double">
          <tr *ngFor = "let b of bookings" style="border:5px double">
            
            <td>{{b.transactionId}}</td>
            <td>{{b.transactionMode}}</td>
            <td>{{b.transactionStatus}}</td>
            <td>{{b.totalCost}}</td>
            <td>{{b.bookingDate}}</td>
            <td>{{b.customer.customerName}}</td>
            <td>{{b.customer.movie.movieId}}</td>
            <td>{{b.customer.movie.movieName}}</td>
            <td>{{b.showId.showId}}</td>
            <td>{{b.showId.showStartTime}}</td>
            <td>{{b.showId.screens.screenId}}</td>
            <td>{{b.showId.screens.screenName}}</td>
            

          

             
          </tr>
        </tbody>
        </table>
    </div>
  </div>
</div>