<!-- <a [routerLink]="['/show']" class="btn btn-danger">Back</a>
<router-outlet>

    
</router-outlet> -->


<div class="container mt-4">
    <div class="row">
      <div class="col-12">
        <h1 class="h4">
          Delete Show
        </h1>
        <hr>
      </div>
    </div>
    <div class="row" >
      <div class="col-5">
        
        <form>
            <div class="from-group">
           
                <label for="name">Show ID: </label>
                <input type="text" name="id" id="" class="form-control" placeholder="Enter Show ID" required [(ngModel)] = "id">&nbsp;
               
            </div>
            <br>
          
          <div class="from-group">
                 <button (click)="viewShowById()" class="btn btn-primary btn-md">Get Show</button>
            </div>
            <br>
            </form>
            </div>
            <div *ngIf ="flag">
            <form>
            <div class="form-group">
                <label for="name">Movie ID:</label>
                <input type="text"   name="show.movie.movieId" id="" class="form-control" placeholder="Enter Movie ID" required  [(ngModel)] = "show.movie.movieId" readonly>&nbsp;
  
            </div>
            
            <br>
            
            <div class="form-group">
                <label for="name">Movie Name:</label>
                <input type="text"   name="show.movie.movieName" id="" class="form-control" placeholder="Enter Movie Name" required  [(ngModel)] = "show.movie.movieName" readonly>&nbsp;
            </div>
            <br>
            
            <div class="form-group">
                <label for="name">Show Start Time: </label>
                <input type="text"   name="show.showStartTime" id="" class="form-control" placeholder="Enter Show Start Time" required  [(ngModel)] = "show.showStartTime" readonly>&nbsp;
            </div>
            <br>
            
            <div class="form-group">
                <label for="name">Show End Time: </label>
                <input type="text"   name="show.showEndTime" id="" class="form-control" placeholder="Enter Show End Time" required  [(ngModel)] = "show.showEndTime" readonly>&nbsp;
            </div>
            <br>
            
            <div class="from-group">
                 <button (click)="deleteShow()" class="btn btn-danger btn-md"><i class="far fa-trash-alt">&nbsp;</i>Delete Show</button>
            </div>
        
        </form>
      </div>
    </div>
  </div>
