<!-- <a [routerLink]="['/user']" class="btn btn-danger">Back</a>
<router-outlet>

    
</router-outlet> -->

<div class="container mt-4">
    <div class="row">
      <div class="col-12">
        <h1 class="h4">
           Add New User
        </h1>
        <hr>
      </div>
    </div>
    <div class="row" >
      <div class="col-5">
        
        <form #frm="ngForm" >
           
                <label for="id">User Id: </label>
                <input type="text" #id="ngModel" name="user.userId" id="" class="form-control" placeholder="Enter User Id" required pattern="[0-9]{1,2}" [(ngModel)] = "user.userId">&nbsp;
                <div class="from-group" *ngIf="id.invalid" class="alert alert-danger">Sorry UserId must be Entered<br>Enter two digit ID
            </div>
            <br>
           <div class="form-group" >
                <label for="name">User Password: </label>
                <input type="password"   name="user.password" id="" class="form-control" placeholder="Enter User Password"  required pattern="[a-zA-z]{3,}" [(ngModel)] = "user.password">&nbsp;
                <div class="from-group" *ngIf="id.invalid" class="alert alert-danger">Password must be entered<br>Minimum 3 letter password
                </div>
  
            </div>
            <br>
            <div class="form-group">
                <label for="name">User Role: </label>
                <input type="text"   name="user.role" id="" class="form-control" placeholder="Enter User Role"  [(ngModel)] = "user.role">&nbsp;
                <div class="from-group" *ngIf="id.invalid" class="alert alert-danger">Enter string</div>
            </div>    
            <br>
            <div class="from-group" >
                 <button type="submit" [disabled]="frm.invalid" (click)="addUser()" class="btn btn-primary btn-md">Add User</button>
            </div>
            <br>
        </form>
      </div>
    </div>
  </div>
