

<div id="pad"><h1><span>M</span>
    <span>O</span>
    <span>V</span>
    <span>I</span>
    <span>E</span>
    <span> </span>
    <span> </span>
    <span>T</span>
    <span>I</span>
    <span>M</span>
    <span>E</span>
    <span>!</span></h1>
</div>
<div id="slider">
    <figure>
          <img src="https://i.im.ge/2021/10/13/orDsqJ.jpg">
          <img src="https://i.im.ge/2021/10/13/orD0U9.jpg">
          <img src="https://i.im.ge/2021/10/13/orDIFz.jpg">
    </figure>
</div>
<div class="admin">
  <p>Welcome to Admin Dashboard</p>
</div>
<router-outlet>


    
</router-outlet>

<div class="button-align">
<div class="buttonrow-one">
  <div class="wrap">
    <button [routerLink]="['/user']" class="button">User</button>
  </div> 
  
  <div class="wrap">
    <button [routerLink]="['/customer']" class="button">Customer</button>
  </div>
  
  <div class="wrap">
    <button [routerLink]="['/movie']" class="button">Movie</button>
  </div>
  
</div>


<div class="buttonrow-two">
  <div class="wrap">
    <button [routerLink]="['/show']" class="button">Show</button>
  </div>
 
  <div class="wrap">
    <button [routerLink]="['/seat']" class="button">Seat</button>
  </div>
  
  <div class="wrap">
    <button [routerLink]="['/booking']" class="button">Booking</button>
  </div>
 
</div>
</div>
