<!-- <a [routerLink]="['/dashboard']" class="btn btn-danger">Back</a>
<router-outlet>

    
</router-outlet> -->

<div class="background">
    
    <div class="button">


<a [routerLink]="['/viewseats']" class="btn btn-primary">View Seats</a>&nbsp;
<a [routerLink]="['/addseat']" class="btn btn-primary">Add Seat</a>&nbsp;
<a [routerLink]="['/deleteseat']" class="btn btn-primary">Delete Seat</a>&nbsp;
<a [routerLink]="['/blockseat']" class="btn btn-primary">Block Seat</a>

</div>
</div>

<router-outlet>

    
</router-outlet>
