<!-- <a [routerLink]="['/dashboard']" class="btn btn-danger">Back</a>
<router-outlet>

    
</router-outlet> -->

<div class="background">
    
    <div class="button">

<a [routerLink]="['/viewmovies']" class="btn btn-primary">View Movies</a>&nbsp;
<a [routerLink]="['/addmovie']" class="btn btn-primary">Add Movie</a>&nbsp;
<a [routerLink]="['/updatemovie']" class="btn btn-primary">Update Movie</a>&nbsp;
<a [routerLink]="['/deletemovie']" class="btn btn-primary">Delete Movie</a>&nbsp;
<a [routerLink]="['/viewmoviebyid']" class="btn btn-primary">View Movie By ID</a>&nbsp;
<a [routerLink]="['/viewmoviebytheatreid']" class="btn btn-primary">View Movie By Theatre</a>

</div>
</div>

<router-outlet>

    
</router-outlet>
