<!-- <a [routerLink]="['/dashboard']" class="btn btn-danger">Back</a> -->
<div class="background">
    
    <div class="button">

<a [routerLink]="['/viewcust']" class="btn btn-primary">View Customer</a>&nbsp;
<a [routerLink]="['/addcust']" class="btn btn-primary">Add Customer</a>&nbsp;
<a [routerLink]="['/updatecust']" class="btn btn-primary">Update Customer</a>&nbsp;
<a [routerLink]="['/deletecust']" class="btn btn-primary">Delete Customer</a>&nbsp;
<a [routerLink]="['/viewcustbyid']" class="btn btn-primary">View Customer By ID</a>&nbsp;
<a [routerLink]="['/viewcustbymovieid']" class="btn btn-danger">View Customer By Movie ID</a>

</div>
</div>

<router-outlet>
    

    
</router-outlet>
